<div class="d-flex justify-content-center">
  <div class="d-flex">
    <%= simple_form_for(@profile) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.association :city, label: "Ville" %>
        <%= f.input :first_name, label: "Prénom" %>
        <%= f.input :last_name, label: "nom" %>
        <%= f.input :phone_number, label: "Numéro de téléphone" %>
        <%= f.hidden_field :user_id, value: current_user.id%>
      </div>

      <div class="form-actions d-flex justify-content-center mt-3">
        <%= button_tag type: 'submit', class: "btn btn-success" do %>
            <i class="fas fa-check" aria-hidden="true"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

