<div class="d-flex justify-content-center">
  <h2 class="text-success text-center my-5">Mon profil</h2>
  <div class="d-flex">
    <%= simple_form_for(@profile) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  <div class="form-inputs">
    <%= f.association :user, label: @profile.user.id %>
    <%= f.association :city %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone_number %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-outline-light py-1  px-5 m-5 mt-2" %>
  </div>

  <div class="d-flex">
    <%= link_to "Éditer mes identifiants", edit_user_registration_path, class:"btn btn-outline-danger text-light mx-auto" %>
  </div>

<% end %>