<h2 class="text-success text-center my-5">Mon profil</h2>
<div class="d-flex flex-column">

  <%= simple_form_for(@profile) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  <div class="form-inputs">
    <%= f.association :city, label: "Ville" %>
    <%= f.input :first_name, label: "Prénom" %>
    <%= f.input :last_name, label: "Nom" %>
    <%= f.input :phone_number, label: "Numéro de téléphone" %>
  </div>

  <div class="form-actions d-flex justify-content-center mt-3">
    <%= button_tag type: 'submit', class: "btn btn-success" do %>
        <i class="fas fa-check" aria-hidden="true"> Valider</i>
    <% end %>
  </div>
<% end %>

  <div class="d-flex mt-3">
    <%= link_to "Éditer mes identifiants", edit_user_registration_path, class:"btn btn-outline-danger text-light mx-auto" %>
  </div>

</div>