<p id="notice"><%= notice %></p>

<h1>Statuts <%= link_to 'Ajouter', new_status_path, class:"btn btn-success btn-sm" %></h1>

<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.name %></td>
        <td><%= link_to 'Show', status %></td>
        <td><%= link_to 'Edit', edit_status_path(status) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


