
<%= simple_form_for(@visitor_message) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  <div class="form-inputs">
    <% if user_signed_in? %>
      <%= f.hidden_field :email, value: current_user.email %>
      <%= f.hidden_field :message, label: "Message" %>
      <p> Accedez a votre messagerie pour nous contacter </p>
      <%= link_to "ma messagerie", user_dashboards_index_path(clicked_link:"Messagerie") %>
    <% else %>
      <%= f.input :email %>
      <%= f.input :message %>
      <div class="form-actions d-flex justify-content-center mt-3">
      <%= f.button :submit %>
      </div>
    <% end %>
  </div>  

<% end %>
