
<%= simple_form_for(@visitor_message) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <% if user_signed_in? %>
    <%= f.hidden_field :email, value: current_user.email %>
    <p> message pour pousser a utiliser msg interne </p>
    <%= f.input :message, label: "votre message" %>
  <% else %>
    <%= f.input :email %>
    <%= f.input :message %>
  <% end %>

  <div class="form-actions d-flex justify-content-center mt-3">
    <%= button_tag type: 'submit', class: "btn btn-success" do %>
        <i class="fas fa-check" aria-hidden="true"></i>
    <% end %>
  </div>
<% end %>
