<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <%= link_to 'SENS·COMMUN', root_path, class: "navbar-brand mx-5 p-1" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_default" aria-controls="navbar_default" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar_default">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
         <%=link_to 'Tableau de Bord', user_dashboards_index_path, class:"nav-link my-3 mx-2 p-2 btn-warning text-dark" %>
        </li>
        <% if LegalRep.exists?(user: current_user) %>
          <li class="nav-item">
            <%=link_to 'Console de Gestion', user_dashboards_organizations_legalreps_path, class:"nav-link my-3 mx-2 p-2 btn-success text-dark" %>
          </li>
        <%end%>
        <li class="nav-item">
          <%=link_to 'Organisations référencées', user_dashboards_organizations_path, class:"nav-link my-3 mx-2 p-2 btn-info text-dark" %>
        </li>
      </ul>
      <div class="d-flex">
        <span class="nav-item">
         <%=link_to 'Déconnexion', destroy_user_session_path, method: :delete, class:"nav-link my-3 mx-2 p-2 btn-danger" %>
        </span>
      </div>
    </div>
  </div>
</nav>