<p id="notice"><%= notice %></p>

<h1>Secteurs d'activité <%= link_to 'Ajouter', new_activity_sector_path, class:"btn btn-success btn-sm" %></h1>


<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @activity_sectors.each do |activity_sector| %>
      <tr>
        <td><%= activity_sector.name %></td>
        <td><%= link_to 'Show', activity_sector %></td>
        <td><%= link_to 'Edit', edit_activity_sector_path(activity_sector) %></td>
      </tr>
    <% end %>
  </tbody>
</table>