
<%= simple_form_for(@private_message) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="d-flex justify-content-start">
      <h4 class="text-info">Titre du message</h4>
    </div>
    <%= f.input :object, label: false%>
    <br>
    <div class="d-flex justify-content-start">
      <h4 class="text-info">Contenu du message</h4>
    </div>
    <%= f.input :content, label: false%>
    <br>
    <div class="d-flex justify-content-start">
      <h4 class="text-info">Choix des destinataires</h4>
    </div>
    <div class="check-boxes-container">
      <%= f.association :recipients_user, as: :check_boxes, label: "", legend_tag: false, label_method: :email, value_method: :id, include_blank: false, class: "m-3"%>
      <%= f.association :recipients_admin, label: "", legend_tag: false, label_method: :email, value_method: :id, include_blank: false, as: :check_boxes%>
    </div>
    <br>
    <%if user_signed_in?%>
      <%= f.hidden_field :author_id , value: current_user.id %>
      <%= f.hidden_field :author_type , value: "User" %>
    <%elsif admin_signed_in?%>
      <%= f.hidden_field :author_id , value: current_admin.id %>
      <%= f.hidden_field :author_type , value: "Admin" %>
    <%end%>
  </div>

  <div class="form-actions d-flex justify-content-center">
    <%= f.submit "Envoyer le message", class: "btn btn-success" %>
  </div>
<% end %>

<br>

