
<%= simple_form_for(@private_message) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :object %>
    <%= f.input :content %>
    <h5>Faites control+click pour en sélectionner plusieurs</h5>
    <%= f.select :recipients_user_ids, User.all.collect {|x| [x.email, x.id]}, {}, :multiple => true %>
    <br>
    <%= f.select :recipients_admin_ids, Admin.all.collect {|x| [x.email, x.id]}, {}, :multiple => true %>

    <%if user_signed_in?%>
      <%= f.hidden_field :author_id , value: current_user.id %>
      <%= f.hidden_field :author_type , value: "User" %>
    <%elsif admin_signed_in?%>
      <%= f.hidden_field :author_id , value: current_admin.id %>
      <%= f.hidden_field :author_type , value: "Admin" %>
    <%end%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
