<% if @received_messages%>
  <%unless request.path_info.to_s=="/pages/news"%>
    <h1 class="mt-5"><%=@view_title%></h1>
    <div class="d-flex justify-content-end">
    <%= link_to "Nouveau Message", new_private_message_path(), class: "btn btn-success px-10 mx-5" %>
    </div>
    <h3 class="text-info align-self-start">Messages reçus</h3>
  <%end%>

  <table class="table table-dark table-hover mt-4 mb-5">
    <thead>
      <tr>
        <th>Objet</th>
        <th>Auteur</th>
        <th>Destinataires</th>
        <th>Date de réception</th>
        <th>Afficher</th>
      </tr>
    </thead>

    <tbody>
      <% @received_messages.each do |pm| %>
        <tr>
          <td><%= pm.object %></td>
          <td><span class="badge rounded-pill bg-secondary"><%= pm.author.email %></span></td>
          <td>
            <% pm.recipients.each do |recipient|%>
              <%unless recipient == current_user || recipient == current_admin%>
                <span class="badge rounded-pill bg-secondary"><%=recipient.email %></span>
              <%end%>
            <%end%>
          </td>
          <td><%= format_date_with_hour(pm.created_at) %></td>
          <td><%= link_to ("<i class='far fa-eye'></i>").html_safe, private_message_path(pm.id), class: "btn btn-success btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%end%>

<% if @sent_messages%>

  <h3 class="text-info align-self-start"> Messages envoyés</h3>

  <table class="table table-dark table-hover mt-4 mb-5">
    <thead>
      <tr>
        <th>Objet</th>
        <th>Destinataires</th>
        <th>Date d'envoi</th>
        <th>Afficher</th>
      </tr>
    </thead>

    <tbody>
      <% @sent_messages.reverse_each do |pm| %>
        <tr>
          <td><%= pm.object %></td>
          <td>
            <% pm.recipients.each do |recipient|%>
              <span class="badge rounded-pill bg-secondary"><%=recipient.email %></span>
            <%end%>
          </td>
          <td><%= format_date_with_hour(pm.created_at) %></td>
          <td><%= link_to ("<i class='far fa-eye'></i>").html_safe, private_message_path(pm.id), class: "btn btn-success btn-sm " %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


<%end%>
