<div class="card mb-3" style="width:100%">
  <%if card[:header] %> <h3 class="card-header"><%= card[:header]%></h3><%end%>
  <div class="card-body">
     <%if card[:title] %><h5 class="card-title"><%= card[:title]%></h5><%end%>
    <%if card[:subtitle] %><h6 class="card-subtitle text-muted"><%= card[:subtitle]%></h6><%end%>
  </div>
  <%if card[:svg_text]%>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
      <rect width="100%" height="100%" fill="#868e96"></rect>
      <text x="50%" y="50%" fill="#dee2e6" dy=".3em"><%= card[:svg_text]%></text>
    </svg>
  <%end%>
  <%if card[:text]%>
    <div class="card-body">
      <p class="card-text"><%= card[:text]%></p>
    </div>
  <%end%>
  <%if card[:list]%>
    <ul class="list-group list-group-flush">
      <%card[:list].each do |current|%>
       <li class="list-group-item"><%= current[:label]%> <span class="badge rounded-pill bg-<%if current[:type] then%><%=current[:type]%><% else %>info<%end%>"><%= current[:data]%></span></li>
      <%end%>
    </ul>
  <%end%>
  <%if card[:actions]%>
    <div class="card-body text-center">
      <%if card[:actions_title]%>
        <p><b><%=card[:actions_title]%></b></p>
      <%end%>
      <%card[:actions].each do |current|%>
        <%if current[:type] then type = current[:type] else type="info" end%>
       <%= link_to "#{current[:label]}", current[:path], class:"btn btn-#{type}" %>
      <%end%>
    </div>
  <%end%>
  <%if card[:footer]%>
    <div class="card-footer text-muted">
      <%= card[:footer]%>
    </div>
  <%end%>
</div>