<div class="d-flex flex-column p-4 text-center text-white bg-dark">
  <% if request.fullpath.to_s.include?('organizations') && request.fullpath.to_s.include?('search_by')  %>
    <%= render "partials/sidebars/sidebar_organizations"%>
  <%else%>
    <div class="d-flex flex-column">
      <%= render "partials/sidebars/dash"%>
    </div>
    <% if current_user_is_legalrep? %>
      <%= render "partials/sidebars/manage"%>
      <%= render "partials/sidebars/data" %>
    <%end%>

    <div class="d-flex flex-column align-items-center text-center">
      <%= render "partials/sidebars/profile"%>
    </div>
  <%end%>
</div> 