<div class="container bg-overdark text-center mt-5 py-5">
  <% if request.path_info.to_s.include?('user') %>
    <h2 class="text-info">Connexion</h2>
    <p class="text-warning mt-5">>>> Testez l'application avec user@user.com (mot de passe : azerty)</p>
  <% else %>
    <h2 class="text-danger">Administration</h2>
    <p class="text-warning mt-5">>>> Testez l'application avec admin@admin.com (mot de passe : azerty)</p>
  <% end %>
  <div class="row mt-2">

    <div class="col-3 mx-auto">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group mx-auto">
        <% f.label :email %><br />
        <%= f.email_field :email, class:"form-control", placeholder:"Entrez votre email", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group">
        <% f.label :password %><br />
        <%= f.password_field :password, class:"form-control", placeholder:"Mot de passe", autocomplete: "current-password" %>
      </div>

      <br />
      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label "Se souvenir de moi" %>
        </div>
      <% end %>

      <br/>
      <div class="action">
        <%= f.submit "Se connecter", class:"btn btn-outline-info my-3" %>
      </div>
      <% end %>

      <br />
      <% unless request.path_info.to_s.include?('admin') %>
        <%= render "devise/shared/links" %>
      <% end %>

    </div>
  </div>
</div>

<span class="fixed-bottom text-center mb-5">
  <% if request.path_info.to_s.include?('user') %>
    <%= link_to "Page de connexion Administrateur", new_admin_session_path, class: "btn btn-outline-light mx-auto" %>
  <% else %>
    <%= link_to "Page de connexion Utilisateur", new_user_session_path, class: "btn btn-outline-light mx-auto" %>
  <% end %>
</span>



