<div class="container bg-overdark text-center mt-5">
  <h2 style="padding-top: 40px;">Connexion</h2>
  <div class="row mt-5">

    <div class="col-3 mx-auto">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group mx-auto">
        <% f.label :email %><br />
        <%= f.email_field :email, class:"form-control", placeholder:"Entrez votre email", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group">
        <% f.label :password %><br />
        <%= f.password_field :password, class:"form-control", placeholder:"Mot de passe", autocomplete: "current-password" %>
      </div>

      <br />
      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label "Se souvenir de moi" %>
        </div>
      <% end %>

      <br/>
      <div class="action">
        <%= f.submit "Se connecter", class:"btn btn-outline-warning my-3" %>
      </div>
      <% end %>

      <br />
      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>


<span class="fixed-bottom text-center mb-5">
    <%= link_to "Connexion Administrateur", new_admin_session_path, class: "btn btn-outline-danger text-light mx-auto" %>
</span>
