<%if current_user.managed_organizations.include?(Organization.find_by(id: session[:organization_managed_id].to_i))%>
  <div class="d-flex flex-row">
    <%= simple_form_for(stakeholder_request, wrapper: :inline_form, html: { class: "row row-cols-lg-auto g-3 align-items-center" }) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.hidden_field :organization_id, value: session[:organization_managed_id]%>
        <%= f.hidden_field :validation, value: 1%>
        <%= f.input :stakeholder_category, collection: @external_stakeholders_category, priority: @external_stakeholders_category.last %>
        <%= button_tag type: 'submit', class: "btn btn-success btn-sm" do %>
            <i class="fas fa-check" aria-hidden="true"> Accepter</i>
        <% end %>
        <div class="form-actions d-flex justify-content-center mt-3">
          <%= link_to stakeholder_request_path(stakeholder_request), method: :delete, class: "btn btn-danger btn-sm" do %>
              <i class="fas fa-minus"> Rejeter</i>
          <% end %>
        </div>
    <% end %>
  </div>
<%else%> 
  <div class="d-flex flex-column bg-primary p-5">
    <div class="d-flex">
      <h3 class="text-info">Envoyer un message à l'organisation <br>pour lui demander de devenir partie prenante</h3>
    </div>
      <%= simple_form_for(@stakeholder_request) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.hidden_field :organization_id, value: @organization.id%>
        
        <div class="form-inputs">
          <%= f.input :message %>
        </div>
        <div class="form-actions d-flex justify-content-center mt-3">
          <%= button_tag type: 'submit', class: "btn btn-success" do %>
              <i class="fas fa-check" aria-hidden="true"></i>
          <% end %>
        </div>
      <% end %>
  </div>
<%end%>
