<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Utilisateur</th>
      <th>Date de connexion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% external_stakeholders.each do |external_stakeholder| %>
      <tr>
        <%if external_stakeholder.user%>
          <td><%= external_stakeholder.name %></td>
          <td><%= external_stakeholder.user.email %></td>
          <%if external_stakeholder.user.profile %>
            <td><%= external_stakeholder.user.profile.first_name + " " + external_stakeholder.user.profile.last_name%></td>
          <%else%>
            <td>Profil non renseigné</td>
          <%end%>
        <%else%>
          <td><%= external_stakeholder.name %></td>
          <td><%= external_stakeholder.email %></td>
          <td>Non reliée à un utilisateur</td>
        <%end%>
        
        <td><%= format_date(external_stakeholder.created_at) %></td>
        <td><%= link_to ("<i class='fas fa-edit fa-lg text-success m-2'> </i>").html_safe, edit_external_stakeholder_path(id:external_stakeholder) %></td>
        <td><%= link_to ("<i class='fas fa-trash-alt fa-lg text-danger m-2'> </i>").html_safe, external_stakeholder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
