<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @external_stakeholder.organization_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @external_stakeholder.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @external_stakeholder.email %>
</p>

<p>
  <strong>Stakeholder category:</strong>
  <%= @external_stakeholder.stakeholder_category_id %>
</p>

<%= link_to 'Edit', edit_external_stakeholder_path(@external_stakeholder) %> |
<%= link_to 'Back', external_stakeholders_path %>
