<h2 class="text-success text-center"> <%= @view_title %> </h2>

<%= simple_form_for(@organization) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: "Nom de l'organisation" %>
    <%= f.input :nickname, label: "Acronyme ou nom abrégé" %>
    <%= f.input :creation_date , as: :date, html5: true, placeholder: 'dd/mm/yyyy', label: "Date de création"%>
    <%= f.input :address, label: "Adresse" %>
    <%= f.input :address_complement, label: "Complément d'adresse" %>
    <%= f.input :zip_code, label: "Code postal" %>
    <%= f.association :city, label: "Ville" %>
    <%= f.input :email, label: "Email" %>
    <%= f.input :phone_number, label: "Numéro de téléphone" %>
    <%= f.association :status, label: "Statut juridique" %>
    <%= f.input :siren, label: "Siren" %>
    <%= f.input :description, label: "Description courte" %>
    <%= f.association :activity_sector, label: "Secteur d'activité principal" %>
    <%= f.input :naf_ape, label: "Code NAF/APE" %>
    <%= f.input :website_url, label: "Lien du site internet" %>
    <%= f.input :logo, as: :file, label: "Lien du logo", class:"form-control", accept: 'image/png,image/gif,image/jpeg'%>
  </div>

  <div class="form-actions d-flex justify-content-center mt-3">
    <%= button_tag type: 'submit', class: "btn btn-success" do %>
        <i class="fas fa-check" aria-hidden="true"></i>
    <% end %>
  </div>
<% end %>
