<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th>Raison sociale</th>
      <th>Date de création</th>
      <th>Adresse</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Status</th>
      <th>Description</th>
      <th>Activity sector</th>
      <th>Website url</th>
      <th></th>
    </tr>
  </thead>

  <tbody style="font-size:smaller">
    <% @organizations.each do |organization| %>
      <tr>
        <td><span class="bg-white d-flex justify-content-center"><%= image_tag(organization.logo_url, size: "24") %></span><%= organization.name %><br><%= organization.nickname %></td>
        <td><%= format_date(organization.creation_date) %></td>
        <td><%= organization.address %><br><%= organization.address_complement %><br><%= organization.zip_code %> <%= organization.city.name %></td>
        <td><%= organization.email %></td>
        <td><%= organization.phone_number %></td>
        <td><%= organization.status_id %></td>
        <td><%= organization.description %></td>
        <td><%= organization.activity_sector_id %></td>
        <td><a href="<%= organization.website_url %>" target="_blank">site web</a></td>
        <td>
          <%= link_to ("<i class='fas fa-eye fa-lg text-success m-2'> </i>").html_safe, user_dashboards_organizations_path(show: organization.id) %>
          <%= link_to ("<i class='fas fa-link fa-lg text-success m-2'></i>").html_safe, user_dashboards_organizations_path(show: organization.id) %>  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

