<%unless request.path_info.to_s=="/pages/news"%>
  <h3 class="text-light text-start my-5 ms-5"><%=@view_title%></h3>
<%end%>

<div class="container-fluid px-5">
  <%@organizations.each do |organization|%>
  
    <div class="row my-4">
      <%=link_to(organization_path(search_by: params[:search_by],id: organization.id)) do%>
        <div class="card01 hoverable">
          <main>
            <div class="card01__logo"> 
              <%if organization.logo.attached?%>
                <%=image_tag(organization.logo)%> 
              <%elsif organization.logo_url%>
                <%=image_tag(organization.logo_url)%>
              <%end%>
            </div>
            <div class="card01__content">
              <h1><%=organization.name%></h1>
              <h2><%=organization.status.name%></h2> 
              <p><%=organization.description%></p> 
            </div>
          </main>
        </div>
      <%end%>
    </div>
    
  <%end%>
</div>


<%if admin_signed_in?%>
  <%# link_to ("<i class='fas fa-trash-alt fa-lg text-danger m-2'> </i>").html_safe, organization, method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>