<%card = {
  header: "ORGANISATION", 
  title: @organization.nickname, 
  subtitle: "Créée le #{format_date(@organization.creation_date)}", 
  svg_text: @organization.name, 
  text: @organization.description,
  list: [{label: "Secteur d'activité", data: @organization.activity_sector.name, type:"primary"},
        {label: "Statut", data: @organization.status.name, type:"primary"},
        {label: "SIREN", data: @organization.siren, type:"primary"},
        {label: "NAF/APE", data: @organization.naf_ape, type:"primary"}
        ],
  footer: "#{@organization.external_stakeholders.length} parties prenantes connectées"
  }%>

<% if @organization.managers.include?(current_user)%>
  <% card[:actions] = [{label: "Éditer les informations", path: user_dashboards_organizations_legalreps_path(organization_managed: @organization.id, clicked_link: "Éditer les informations"), type:"success"}] %>
<%else%>
  <%card[:actions] = [{label: "Devenir partie prenante", path: user_dashboards_organizations_path, type:"success"}]%>
<%end%>


<div class="d-flex justify-content-center bg-white">
  <%=image_tag(@organization.logo_url, width: "100px") %>
</div>
<div class="d-flex" style="width:100%">
  <%= render "partials/components/card_organization", card: card %>
</div>
<div class="d-flex justify-content-evenly">
  <div class="d-flex flex-column align-items-center">
    <h4>Dirigeants</h4>
    <% @organization.managers.each do |manager|%>
      <%=manager.email%>
    <%end%>
  </div>
  <div class="d-flex flex-column align-items-center m-3 justify-content-evenly">
    <div class="d-flex">
      <h3>Contacts</h3>
    </div>
    <div class="d-flex flex-row justify-content-around bg-primary p-2">
      <div class="d-flex flex-column ms-3"><b>Site internet</b><br><%= @organization.website_url %></div>
      <div class="d-flex flex-column ms-3"><b>Email</b> <br><%= @organization.email %></div>
      <div class="d-flex flex-column ms-3"><b>Téléphone</b><br><%= @organization.phone_number %></div>
      <div class="d-flex flex-column ms-3"><b>Adresse</b><br><%= @organization.address %>,<%= @organization.address_complement %> <br> <%= @organization.zip_code %> <%= @organization.city.name %></div>
    </div>
  </div>
</div>