<%card = {
  header: "ORGANISATION", 
  title: @organization.nickname, 
  subtitle: "Créée le #{format_date(@organization.creation_date)}", 
  svg_text: @organization.name, 
  text: @organization.description,
  list: [{label: "Secteur d'activité", data: @organization.activity_sector.name, type:"primary"},
        {label: "Statut", data: @organization.status.name, type:"primary"},
        {label: "SIREN", data: @organization.siren, type:"primary"},
        {label: "NAF/APE", data: @organization.naf_ape, type:"primary"}
        ],
  footer: "#{@organization.external_stakeholders.length} parties prenantes connectées"
  }%>

<%if admin_signed_in?%>

<%elsif @organization.managers.include?(current_user)%>
  <% card[:actions] = [{label: "Éditer les informations", path: edit_organization_path(id: @organization.id, clicked_link: "Éditer les informations"), type:"success"}] %>
<%elsif @organization.users_stakeholders.include?(current_user)%>
  <% card[:actions] = [{label: "Vous êtes partie prenante de cette organization", path: "", type:"success disabled"}] %><h3 class="tex-info"></h3>
<%elsif current_user.stakeholder_requests.where(organization: @organization).empty?%>
  <%card[:actions] = [{label: "Demander à devenir partie prenante", path: organization_path(id: @organization.id, search_by: params[:search_by], categ_id: params[:categ_id],show: "StakeholderRequest"), type:"success"}]%>
<%else %>
  <%card[:actions] = [{label: "Votre demande de participation n'a pas encore été acceptée", path: "", type:"secondary disabled"},{label: "Refaire une demande", path: organization_path(id: @organization.id,show: "StakeholderRequest"), type:"success"} ]%>
<%end%>

<%if @organization.logo.attached?%>
<div class="d-flex justify-content-center bg-white">
  <%=image_tag(@organization.logo, width: "100px") %>
</div>
<%elsif @organization.logo_url%>
<div class="d-flex justify-content-center bg-white">
  <%=image_tag(@organization.logo_url, width: "100px") %>
</div>
<%end%>
<div class="d-flex" style="width:100%">
  <%= render "partials/components/card", card: card %>
</div>
<%if params[:show] && params[:show] == "StakeholderRequest"%>
  <%=render "stakeholder_requests/form"%>
<%end%>
<div class="d-flex justify-content-evenly">
  <div class="d-flex flex-column align-items-center">
    <h4>Dirigeants</h4>
    <% @organization.managers.each do |manager|%>
      <%=manager.email%>
    <%end%>
  </div>
  <div class="d-flex flex-column align-items-center m-3 justify-content-evenly">
    <div class="d-flex">
      <h3>Contacts</h3>
    </div>
    <div class="d-flex flex-row justify-content-around bg-primary p-2">
      <div class="d-flex flex-column ms-3"><b>Site internet</b><br><%= @organization.website_url %></div>
      <div class="d-flex flex-column ms-3"><b>Email</b> <br><%= @organization.email %></div>
      <div class="d-flex flex-column ms-3"><b>Téléphone</b><br><%= @organization.phone_number %></div>
      <div class="d-flex flex-column ms-3"><b>Adresse</b><br><%= @organization.address %>,<%= @organization.address_complement %> <br> <%= @organization.zip_code %> <%= @organization.city.name %></div>
    </div>
  </div>
</div>

