<!DOCTYPE html>
<html>
  <head>
    <title>SensCommun</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in?%>
      <%=render "admin/partials/shared/navbar"%>
    <%elsif user_signed_in?%>
      <%=render "user/partials/shared/navbar"%>
    <%else%>
      <%=render "partials/visitor/navbar"%>
    <%end%>
    <%= yield %>
    <%=render "partials/shared/footer"%>
  </body>
</html>
