<!DOCTYPE html>
<html>
  <head>
    <title>SensCommun</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# Conditioned navbars rendering %>
    <% if admin_signed_in? %>
      <%=render "admin/partials/navbar"%>
    <% elsif user_signed_in? %>
      <%=render "user/partials/navbar"%>
    <% else %>
      <%=render "partials/navbars/visitor"%>
    <% end %>

    <%= yield %>
    
  </body>
</html>
